.header {
  position: fixed;
  width: 100%;
  background-color: black;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.search-input {
  height: 40px;
  width: 400px;
}

.main {
  padding-top: 70px;
}

.button {
  background: #FF5555;
  display: inline-block;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  margin: 10px 0;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}