.correct-modal__overlay{
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.correct-modal__overlay--active{
    display: block;
}
.correct-modal{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw; 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.correct-message{
    flex-grow: 1;
    border: none;
}
.correct-modal__button{
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}