* {
  /* border: 1px solid; */
}

.main__inner {
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.item-name {
  font-size: 24px;
  font-weight: bold;
}

.item-brand {
  font-size: 12px;
}

.price--value {
  font-size: 24px;
}

.item-image {
  height: 350px;
  width: 350px;
  background: gray;
}

.description-title,
.info-title,
.comments-title {
  font-weight: bold;
  font-size: 18px;
}

.category-title,
.condition-title {
  font-weight: bold;
}

.comments-title {
  color: #5F5F5F;
}

.description-contents {
  margin: 20px 0;
}

.category,
.condition {
  margin: 20px 0;
}

.button {
  text-decoration: none;
  width: 100%;
}

.comment-form__title {
  font-weight: bold;
}

.comment-form__textarea {
  width: 100%;
  height: 150px;
}